body {
    background-color: #eee;
    line-height: 1.6;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, sans-serif;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #575757;
    color: white;
}

section {
    padding: 0px 50px 0px 50px;
    font-family: Arial, sans-serif;
    color: #000;
}

footer {
    text-align: center;
}

footer h2 {
    text-align: center;
}

#menu {
    color: #000;
}

#menu h2 {
    width: 800px;
    text-align: center;
    font-family: Arial, sans-serif;
}

#menu h3 {
    text-align: left;
    font-family: Arial, sans-serif;
}

#menu li {
    font-family: 'Segoe UI', sans-serif;
}

